h1 {
  margin: 0px;
  padding: 10px;
  background: lightblue;
}

.index1 {
  position: relative;
  top: 30px;
  background: greenyellow;
  z-index: 1;
}

.index2 {
  position: absolute;
  top: 60px;
  background: lightcoral;
  z-index: 99999;
}

.index3 {
  position: relative;
  z-index: 99999;
}
